<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <br>
    <h1>Kutubxona boshqaruv tizimi</h1>
    <a href="/logout/"><p>Logout</p></a>
    <hr>
    <br>
    <a href="/kitoblar"><h1>Kitoblar</h1></a>
    <a href='/katta_mualliflar/'><h1>Yoshi eng katta 3 ta muallif</h1></a>
    <a href='/kitob10/'><h1>Kitoblari soni 10 tadan kam bo'lgan mualliflarning kitoblari</h1></a>
    <a href='/Alisher_Navoiy_kitoblari'><h1>Alisher Navoiy kitoblari</h1></a>
    <a href='/talabalar/'><h1>Talabalar</h1></a>
    <a href='/mualliflar/'><h1>Mualliflar</h1></a>
    <a href='/records/'><h1>Recordlar</h1></a>

</body>
</html>


