<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record</title>
</head>
<body>
    <h1>{{ record.talaba }} - {{ record.kitob }} haqida ma'lumot</h1>
    <p>Talaba: {{record.talaba}}</p>
    <p>Kitob: {{record.kitob}}</p>
    <p>Kutubxonachi: {{record.kutubxonachi}}</p>
    <p>Olingan sanasi: {{record.olingan_sana}}</p>
    <p>Qaytarilganligi: {{record.qaytardi}}</p>
    <p>Qaytarish sanasi: {{record.qaytarish_sana}}</p>
    <a href="/records/">Orqaga qaytish</a>
</body>
</html>